.at-button {
  background: var(--at-bg);
  border-radius: 0;
  border: 1px solid var(--at-border-color);
  outline: none;
  cursor: pointer;
  color: var(--at-text);
  padding: 8px 16px;
  transition: 0.2s;
  text-align: center;

  &:hover {
    color: var(--at-primary-color);
    border: 1px solid;
  }

  &:disabled {
    color: var(--at-disabled-text);
    border: 1px solid var(--at-disabled-border-color);
    cursor: not-allowed;
  }

  &--primary {
    color: var(--at-primary-color);
    border-color: var(--at-primary-color);
  }
}
