:root {
  --at-primary-color: #02cab9;
  --at-gray: #b6b6b6;
  --at-disabled-text: #c0c4cc;
  --at-text: #484848;
  --at-border-color: #dcdfe6;
  --at-disabled-border-color: #ebeef5;
  --at-bg: #fff;
}
